.container-fluid{
  background-image: url("../.././../assets/images/08.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.login-form{
  border-radius: 10px;
  background-color: white;
  opacity: .8;

}

.form-body{
  padding: 120px 50px 120px 50px;
}