<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-lg-4 ">
 
    </div>
    <div class="col-lg-4 col-md-12 form-body">
      <!-- Default form login -->
      <form class="text-center border border-light p-5 login-form" [formGroup]="loginForm">

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" formControlName="email" class="form-control mb-4" placeholder="E-mail">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" formControlName="password" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button mdbBtn color="default" block="true" class="my-4" type="submit" (click)="login()">Sign in</button>
        <div class="" style="text-align:center;color: rgb(218, 24, 24);">
          <p>              </p>
          {{successMessage}}
        </div>

        <!-- Register -->
        <p>Not a member?
          <a routerLink='/signup'> <a href="">Register</a></a>
        </p>

        <!-- Social login -->
        <!-- <p>or sign in with:</p> -->

        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>

      </form>
      <!-- Default form login -->
    </div>
  </div>
</div>