<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    
      <div class="upper-container ">
        
      </div>
      <div class="col-lg-4 col-sm-12">
        
      </div>
      <div class="col-lg-4 col-sm-12">
        
          <div class="image-container">
                        
          </div>
    
      </div>
      <div class="col-lg-4 col-sm-12">
        
      </div> 
      <div class="lower-container">
        
      </div>
  </div>

    <div class="body">
      <div class="row row-content">
        
        <div class="col-12">
             <!-- Card -->
 
             <div class="jumbotron jumbotron-fluid">
               <div class="container">
                 <h1 class="display-4">Kushani Sajinika</h1>
                 <p class="lead">Welcome to the official account of Kushani Sajinika. I am a asian area birdlover.</p>
                 <button type="button" mdbBtn color="success" mdbWavesEffect>Following</button>
               </div>
             </div>    
     <div class="card">
 
     <!-- Card image -->
     <div class="view overlay">
       <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
         alt="Card image cap">
       <a href="#!">
         <div class="mask rgba-white-slight"></div>
       </a>
     </div>
   
     <!-- Card content -->
     <div class="card-body">
   
       <!-- Title -->
       <h4 class="card-title">Card title</h4>
       <!-- Text -->
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
         content.</p>
       <!-- Button -->
       <a href="#" class="btn btn-primary">Button</a>
   
     </div>
   
   </div>
   <!-- Card -->
 </div>
         
         <div class="col-lg-3 col-md-3 col-sm-hide">
             
         </div>
     </div>
    </div>
  
</div>


