
.container-fluid{
    background: #ececec;
    padding: 0px;
}
.card{
   transform: absolute;
   margin-top: 20px;
}
.jumbotron{
    
    border-radius: 10px;
    padding:none;
}
.menu{
    background: #fff;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upper-container{
   min-height: 400px;;
    width:100%;
    margin:auto;

    background-image:url("../.././../assets/images/08.jpg");
    text-align: center;
    color: thistle;
    background-size:cover ;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:cover ;
    -o-background-size: cover;
}
.lower-container{
    height:50%;
    background-color: cornsilk;
}
.image-container{
    background-image: url("../.././../assets/images/k.jpg");
    height:200px;
    width:200px;
    border-radius: 50%;
    background-size:cover ;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:cover ;
    -o-background-size: cover;
    padding:50px;
    transform: translate(50%, 80%);
    margin-top: -250px;
    border: solid 5px;
    border-color: white;
    margin-bottom: 200px;
}
.body{
    width:80%;
    margin:auto;
    background-size:cover ;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:cover ;
    -o-background-size: cover;
    font-family:arial ;
}
.dp{
    padding: auto;
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(255, 255, 255);
    margin-top: -125px;
}

.a{
   text-align: center;
}

.name-card{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(94, 94, 94);
   padding: 20px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.btn{
    border-radius: 5px !important;
}

.name-card-btn{
    text-align: right;
}


@media screen and (max-width: 700px) and (min-width: 300px) {
    .btn{
        width: 100%;
    }

    .name-card{
        margin: 10px;
    }
}


.status-bar{
    background-color: #fff;
    border-radius: 5px;
    color: rgb(94, 94, 94);
   padding: 20px;
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
}


.bar{
   
    width: 50px;
    height: 45px;
   
    margin: 10px;
}

.status-bar p{
    margin-top:10px ;
}

.status-bar span{
    background-color: rgb(25, 219, 18);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;

    padding: 5px;
}

.post-card{
    width: 80%;
    margin-bottom: 40px;
}

.post-header{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.post-content{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.post-img{
    width: 60%;
    padding: 0px;
    margin: auto;
    
}

.post-img img{
    width: 100%;
    height: 400px;
}


.dp-post{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.auther{
    margin: auto;
    line-height: 8px;
}

.heart{
    height: 50px;
    width: 50px;
}

.comment{
    height: 50px;
    width: 50px;
}

.post-react{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
}



@media screen and (max-width: 700px) and (min-width: 300px) {
    .btn{
        width: 100%;
    }

    .name-card{
        margin: 10px;
    }

    .status-bar{
        margin: 10px;
    }

    .post-header{
        width: 100%;
        background-color: white;
        margin: auto;
        padding: 10px;
    }
    .post-card{
       width: 100%;
        margin-bottom: 40px;
    }
    
}