<app-header></app-header>
<div class="container-fluid height"></div>
<div class="container-fluid">
  <div class="upper-container container-fluid">

  </div>
  <div class="row">


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    </div>
    <div class="a col-lg-4 col-md-4 col-sm-12 col-xs-12">

      <img class="dp" src="../../../assets/images/k.jpg">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    </div>
    <!-- <div class="lower-container">
        
      </div> -->
  </div>
  <div class="lower-container ">

  </div>
  <div class="container">
    <div class="row name-card">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h2>Kushani Sajinika</h2>
        <p>Welcome to the offical account of Kushani Sajinika.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 name-card-btn">
        <button class="fol-btn" type="button" mdbBtn color="success" mdbWavesEffect>Follow</button>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row status-bar">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <p><b>Posts <span>107</span></b></p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <p><b>Followers <span>4.3K</span></b></p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <p><b>Following <span>1.2K</span></b></p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>

    </div>
  </div>

  <div class="container post-card">
    <div class="row post-header">
      <div class="col-lg-1">
        <img class="dp-post" src="../../../assets/images/k.jpg">
      </div>
      <div class="col-lg-10 auther">
        <P><b>Kushani Sajinika</b>
        <P>10 hours ago</P>
      </div>
      <div class="collg-1">...</div>
    </div>
    <div class="row post-content">
      <div class="col-lg-12">Post content</div>
    </div>
    <div class="row post-img">
      <div class="col-lg-12 post-img">
        <img src="../../../assets/images/04.jpg">
      </div>
    </div>
    <div class="row post-react">
      <div class="col-lg-6">
        <img class="heart" src="../../../assets/images/heart.png">
      </div>
      <div class="col-lg-6">
        <img class="comment" src="../../../assets/images/comment.png">
      </div>

    </div>
  </div>

  

  <div class="container post-card">
    <div class="row post-header">
      <div class="col-lg-1">
        <img class="dp-post" src="../../../assets/images/k.jpg">
      </div>
      <div class="col-lg-10 auther">
        <P><b>Kushani Sajinika</b>
        <P>10 hours ago</P>
      </div>
      <div class="collg-1">...</div>
    </div>
    <div class="row post-content">
      <div class="col-lg-12">Post content</div>
    </div>
    <div class="row post-img">
      <div class="col-lg-12 post-img">
        <img src="../../../assets/images/08.jpg">
      </div>
    </div>
    <div class="row post-react">
      <div class="col-lg-6">
        <img class="heart" src="../../../assets/images/heart.png">
      </div>
      <div class="col-lg-6">
        <img class="comment" src="../../../assets/images/comment.png">
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">as</div>
</div>