<app-header></app-header>
<div class="container-fluid height"></div>
<div class="container-fluid">
    <div class="row main">
        <div class="col-lg-3">
            <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
                    <img class="str-dp" src="../../../assets/images/k.jpg">
                  <p class="white-text">Kushani</p>

                </div>
              </div>

            <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
                    <img class="str-dp" src="../../../assets/images/k.jpg">
                  <p class="white-text">Kushani</p>

                </div>
              </div>

            <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
                    <img class="str-dp" src="../../../assets/images/k.jpg">
                  <p class="white-text">Kushani</p>

                </div>
              </div>

            <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
                    <img class="str-dp" src="../../../assets/images/k.jpg">
                  <p class="white-text">Kushani</p>

                </div>
              </div>
            
        </div>
        <div class="col-lg-6">
            <div class="container post-card">
                <div class="row post-header">
                    <div class="col-lg-1">
                        <img class="dp-post" src="../../../assets/images/k.jpg">
                    </div>
                    <div class="col-lg-10 auther">
                        <P><b>Kushani Sajinika</b>
                        <P>10 hours ago</P>
                    </div>
                    <div class="collg-1">...</div>
                </div>
                <div class="row post-content">
                    <div class="col-lg-12">Post content</div>
                </div>
                <div class="row post-img">
                    <div class="col-lg-12 post-img">
                        <img src="../../../assets/images/04.jpg">
                    </div>
                </div>
                <div class="row post-react">
                    <div class="col-lg-6">
                        <img class="heart" src="../../../assets/images/heart.png">
                    </div>
                    <div class="col-lg-6">
                        <img class="comment" src="../../../assets/images/comment.png">
                    </div>

                </div>
            </div>

            <div class="container post-card">
                <div class="row post-header">
                    <div class="col-lg-1">
                        <img class="dp-post" src="../../../assets/images/k.jpg">
                    </div>
                    <div class="col-lg-10 auther">
                        <P><b>Kushani Sajinika</b>
                        <P>10 hours ago</P>
                    </div>
                    <div class="collg-1">...</div>
                </div>
                <div class="row post-content">
                    <div class="col-lg-12">Post content</div>
                </div>
                <div class="row post-img">
                    <div class="col-lg-12 post-img">
                        <img src="../../../assets/images/05.jpg">
                    </div>
                </div>
                <div class="row post-react">
                    <div class="col-lg-6">
                        <img class="heart" src="../../../assets/images/heart.png">
                    </div>
                    <div class="col-lg-6">
                        <img class="comment" src="../../../assets/images/comment.png">
                    </div>

                </div>
            </div>

            <div class="container post-card">
                <div class="row post-header">
                    <div class="col-lg-1">
                        <img class="dp-post" src="../../../assets/images/k.jpg">
                    </div>
                    <div class="col-lg-10 auther">
                        <P><b>Kushani Sajinika</b>
                        <P>10 hours ago</P>
                    </div>
                    <div class="collg-1">...</div>
                </div>
                <div class="row post-content">
                    <div class="col-lg-12">Post content</div>
                </div>
                <div class="row post-img">
                    <div class="col-lg-12 post-img">
                        <img src="../../../assets/images/06.jpg">
                    </div>
                </div>
                <div class="row post-react">
                    <div class="col-lg-6">
                        <img class="heart" src="../../../assets/images/heart.png">
                    </div>
                    <div class="col-lg-6">
                        <img class="comment" src="../../../assets/images/comment.png">
                    </div>

                </div>
            </div>


        </div>
        <div class="col-lg-3 sg-card">
            <div class="card-panel">
                <div class="row sg-panel">
                    <div class=" col-lg-2"><img class="dp-sg" src="../../../assets/images/k.jpg"></div>
                    <div class="sg-name col-lg-8">
                        <p class="sg-name">Kushani Sajinika</p>
                    </div>
                    <div class="col-lg-2"><img class="send" src="../../../assets/images/send1.png"></div>
                </div>
                <div class="row sg-panel">
                    <div class=" col-lg-2"><img class="dp-sg" src="../../../assets/images/k.jpg"></div>
                    <div class="sg-name col-lg-8">
                        <p class="sg-name">Kushani Sajinika</p>
                    </div>
                    <div class="col-lg-2"><img class="send" src="../../../assets/images/send1.png"></div>
                </div>

                <div class="row sg-panel">
                    <div class=" col-lg-2"><img class="dp-sg" src="../../../assets/images/k.jpg"></div>
                    <div class="sg-name col-lg-8">
                        <p class="sg-name">Kushani Sajinika</p>
                    </div>
                    <div class="col-lg-2"><img class="send" src="../../../assets/images/send1.png"></div>
                </div>

                <div class="row sg-panel">
                    <div class=" col-lg-2"><img class="dp-sg" src="../../../assets/images/k.jpg"></div>
                    <div class="sg-name col-lg-8">
                        <p class="sg-name">Kushani Sajinika</p>
                    </div>
                    <div class="col-lg-2"><img class="send" src="../../../assets/images/send1.png"></div>
                </div>

                <div class="row sg-panel">
                    <div class=" col-lg-2"><img class="dp-sg" src="../../../assets/images/k.jpg"></div>
                    <div class="sg-name col-lg-8">
                        <p class="sg-name">Kushani Sajinika</p>
                    </div>
                    <div class="col-lg-2"><img class="send" src="../../../assets/images/send1.png"></div>
                </div>

                <div class="row sg-panel">
                    <div class=" col-lg-2"><img class="dp-sg" src="../../../assets/images/k.jpg"></div>
                    <div class="sg-name col-lg-8">
                        <p class="sg-name">Kushani Sajinika</p>
                    </div>
                    <div class="col-lg-2"><img class="send" src="../../../assets/images/send1.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>