<div class="row">
  <div class="col-lg-12 col-sm-12">
    <div id="bar">
      <div style="width: 800px; margin: auto; font-size: 30px;">
          BirdSpot &nbsp; &nbsp; <input type="text" id="search_box" placeholder="Search for people">
        <span class="image">
        <img src="../.././../assets/images/k.jpg" class="rounded-circle z-depth-0" 
                alt="avatar image" height="40" width="40"style="float:right;" >
              </span>
      </div>
    </div>
  </div>
</div>

    
